.featured {
    width: 100%;
    padding: 8rem 0;
    background-color: #f0f1f5;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 90%);
}
.featured .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.featured .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 12rem;
}

.featured .left p {
    margin: 1.5rem 0;
}

.featured .left .btn {
    align-self: flex-start;
}

.featured .right {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}

.featured .right .card {
    display: flex;
    flex-direction: column;
    padding: 12px 22px;
    margin: .4rem;
    width: 200px;
    height: 170px;
    border-radius: 24px;
    border: 1px solid #fff;
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
    text-align: center;
}

.featured .right .card .top .red {
    color: var(--primary);
}

.featured .right .card:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
}

.featured .card .top {
    display: flex;
    flex-direction: column;
}

.featured .right img {
    width: 50px;
    margin: auto;
    padding: .2rem 0;
}

@media screen and (max-width: 940px) {
    .featured .container {
        grid-template-columns: repeat(1, 2fr);
    }
    .featured .right {
        margin: 100px;
        margin-top: 0px;
        flex-direction: row;
    }
    .featured .left{
        padding-bottom: 2rem;
    }
    .featured .left .btn {
        align-self: left;
    }
    .featured .right .card {
        padding: 22px 22px;
    }
    
}


@media screen and (max-width: 478px) {
    .featured .container .right .card {
        width: 100%;
        justify-content: center;
    }
    .featured .left{
        padding-bottom: 2rem;
    }
}