.news{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 10px;
}
.news-headline{
   margin-top: 40px;
   display: flex;
   justify-content: center;

}
.news-container{
    width: 300px;
    margin: 50px 0px  5px 25px;
    font-size: 14px;
    border-radius: 24px;
    border: 1px solid #fff;
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
}
.news-img{
    width: 100%;
    height: 200px;
    border-top-left-radius:14px;
    border-top-right-radius:14px;

}
.news-item a, h3{
    color: var(--primary);
    padding: 2px;
}

.news-item p{
    padding: 5px;
}

@media screen and (max-width: 940px) {
    .news{
        grid-template-columns:repeat(2, 1fr);
        margin: 10px 0px  15px 25px;
    }  
}

@media screen and (max-width: 478px) {
    .news{
        grid-template-columns:repeat(1, 1fr);
        margin: 10px 0px  20px 25px;
    }
}